In [1]:
import pandas as pd

In [8]:
def prepare_data() -> pd.DataFrame:
    df = pd.read_csv('sales_data.csv')
    df['Day'] = pd.to_datetime(df['date'])
    return df

In [9]:
data = prepare_data()

In [10]:
grouped = data.groupby('Day')

In [24]:
data = grouped.apply(lambda df: df['sales'].sum()).reset_index()

In [25]:
data.columns = ["Day", "Sales"]
data

            Day          Sales
0    2019-01-01   71084.490000
1    2019-01-02   73570.110000
2    2019-01-03   75745.100000
3    2019-01-04   74674.680000
4    2019-01-05   73801.650000
...         ...            ...
2065 2024-08-27  122259.275533
2066 2024-08-28  112064.597256
2067 2024-08-29  115707.364111
2068 2024-08-30  117181.122270
2069 2024-08-31  114810.336135

[2070 rows x 2 columns]